{% extends 'base.html.twig' %}

{% block title %} auteur {% endblock %}

{% block body %}
  <section>
    <h1> Liste des auteurs</h1>

   <div class="list-groupe-livre-dvd-auteur">
    {% for autor in autors %}
        {#          {{ dump(book) }}#}
        <ul class="list-groupe">
            <li class="list-groupe-item">  <a href="{{ path('show_autor',{'id':autor.id}) }}"> {{ autor.name }}</a></li>
            <li>  <a href="{{ path('delete_autor', {'id': autor.id} ) }}"> supprimer </a> </li>
            <li>  <a href="{{ path('saveupdate_autor', {'id': autor.id} ) }}"> modifier </a> </li>

            {#            <li class="list-group-item">volume : {{ book.volume }}</li>#}
            {#            <li class="list-group-item">nombre de page : {{ book.nbrPage }}</li>#}
            {#            <li class="list-group-item">nom : {{ book.name }}</li>#}
            {#            <li class="list-group-item">disponibilité : {{ book.avalaible }}</li>#}
        </ul>

    {% endfor %}
   </div>
  </section>
{% endblock %}
